<div>
	<i class="fa fa-star-o" 
		ng-repeat="r in [] | range:hmupto"
	  	ng-mouseover="mouseover(r)"
	    ng-click="setrating(r)"
		ng-mouseleave="mouseleave()"
		id="{{hmid}}{{r}}"
		style="color:{{ hmcolor }}"
	></i>
</div>

<!--
  alert("sending mail");
                        var Mailgun = require('mailgun');
                        Mailgun.initialize('sandboxba2ce67ee20e4018b89e9c1a34fe407e.mailgun.org', 'key-0d94cde3c0aa74d76149a643fb94701a');
                        Mailgun.sendEmail({
                            to: "aquarianchd83@gmail.com",
                            from: "Mailgun Sandbox <postmaster@sandboxba2ce67ee20e4018b89e9c1a34fe407e.mailgun.org>",
                            subject: "Approval for Task: " + taskId,
                            text: "Approval for Task: " + taskId
                        }, {
                            success: function (httpResponse) {
                                console.log("successfully sent email");
                            },
                            error: function (httpResponse) {
                                console.error("error sending email");
                            }
                        });-->