<div class="container" ng-controller="changePasswordController" >
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-apps-wrap">
                <div class="panel-success">
                    <div class="panel-heading ">
                        <h3 class="panel-title panel_space pad-bot-0">
                            <i class="fa fa-user "></i>Change Password</h3>
                    </div>
                </div>
                <div class="the-box no-margin apply_job">
                    <!-- /.row -->
                    <div class="row apply_margin">
                        <div class="col-lg-2">
                            <label>
                              Email-Id
                            </label>
                        </div>
                        <div class="col-lg-7">
                            <div class="reply">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <input type="text" class="form-control input-lg" placeholder="Email Address" ng-model="email">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row apply_margin">
                        <div class="col-lg-2">
                            <label>
                            </label>
                        </div>
                        <div class="col-lg-7">
                            <div class="reply">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <a href="javascript:void(0);" class="btn  red-color" ng-click="ChangePassword()">
                                                Change</a> <a href="#/company-profile" class="btn btn-default">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.the-box -->
            </div>
        </div>
    </div>
</div>
